build --compilation_mode=opt
#build --cxxopt=-Wall --cxxopt=-Wextra

################################################################################
############################ Optional dependencies #############################
################################################################################

#build --define coinor=true
#build --define cplex=true
#build --define gurobi=true
#build --define gecode=true
#build --define localsolver=true
#build --define knitro=true

