build --compilation_mode=opt

############################ Optional dependencies #############################

#build --define coinor=true
#build --define cplex=true
#build --define gurobi=true
#build --define gecode=true
#build --define localsolver=true

